* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 80px;
}
.content{
  gap: 50px;
}
.trait {
  /* border: 1px solid black; */
  background-color: #000;
  height: 5px;
  margin: 0;
}

.btn-reset,
select {
  width: 120px;
}

.fleur {
  width: 300px;
  height: 300px;
  border-radius: 40px;

}

.div {
  display: flex;
  gap: 50px;
}
.panier{
  background-color: #228B22;
  height: 100vh;
  width: 250px;
}
.fa-tint {
  color: #ADD8E6;
}

.fa-sun-o {
  color: #FDB813
}
.price{
  background-color: #228B22;
  width: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  position: absolute;
  top: 0;
  right: -2px;
  padding: 5px;
 
}
.para{
  position: relative;
}